@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #4B4B4B;
  outline: 1px solid #1D1D1D;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:active {
  background-color: black;
}

.over::-webkit-scrollbar {
  width: 0.5em;
}
 
.over::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.over::-webkit-scrollbar-thumb {
  background-color: #4B4B4B;
  outline: 1px solid #1D1D1D;
  border-radius: 5px;
}

.over::-webkit-scrollbar-thumb:active {
  background-color: black;
}

/* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
  /*background: #eee;*/
}
 
/* (B) MOVING TICKER WRAPPER */
.hmove { display: flex; }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: left;           
}

.mainPaddingSM{
  padding: 20px, 0px, 20px, 20px;
}

.mainPaddingSUS{
  padding: 2px, 0px, 2px, 2px;
}

.mainPaddingSAM{
  padding: 7px, 0px, 7px, 7px;
}

.mainPaddingSCM{
  padding: 7px, 0px, 7px, 7px;
}

.mainPaddingSXM{
  padding: 7px, 0px, 7px, 7px;
}
 
/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-330%, 0, 0); }
}
.hmove { animation: tickerh linear 40s infinite; }
/*.hmove:hover { animation-play-state: paused; }*/

@media only screen and (max-width: 768px) {
  .hmove { animation-duration: 20s; }
}





